In [1]:
import pandas as pd
import difflib

In [7]:
file_location = './data/Triage & ECG Training (Responses) - Form responses 1(1).csv'

In [8]:
raw_df = pd.read_csv(file_location)

In [30]:
raw_df

,Timestamp,Course,Date,Trainers Name,First Name,Surname,Designation,Other,Email Address,Mobile Number,Facility/Organisation,County
0,13/09/2018 12:29:37,ECG Course,30/05/2018,Benjamin Wachira,ANNA,KINYUA,Other,SRN,annakinyua3@gmail.com,0721451334,THIKA LEVEL 5,22 Kiambu
1,13/09/2018 12:30:48,ECG Course,30/05/2018,Benjamin Wachira,DANIEL,KIMANI,Doctor (MO),NaN,drkimanidn@gmail.com,0731949649,THIKA LEVEL 5,22 Kiambu
2,13/09/2018 12:32:03,ECG Course,30/05/2018,Benjamin Wachira,MERCY,NDIRANGU,Clinical Officer (CO),NaN,mercyndirangu@gmail.com,0704341983,THIKA LEVEL 5,22 Kiambu
3,13/09/2018 12:33:15,ECG Course,30/05/2018,Benjamin Wachira,CAROLNE,OWINO,Clinical Officer (CO),NaN,carolflashy22@gmail.com,0704717894,THIKA LEVEL 5,22 Kiambu
4,13/09/2018 12:34:19,ECG Course,30/05/2018,Benjamin Wachira,ONDITI,EFFIE,Clinical Officer (CO),NaN,onditieffie@gmail.com,0724517504,THIKA LEVEL 5,22 Kiambu
...,...,...,...,...,...,...,...,...,...,...,...,...
2487,03/04/2023 10:16:57,Triage Course,07/03/2023,Erick Waruingi,Lilian,Monyani,Registered Clinical Officer (RCO),NaN,lilianmonyani@gmail.com,0715156879,Emuhaya Subcounty Hospital,38 Vihiga
2488,03/04/2023 10:18:21,Triage Course,07/03/2023,Erick Waruingi,Consolata,Bukachi,Nurse (RN.),NaN,bukachic21@gmail.com,0721259870,Emuhaya Subcounty Hospital,38 Vihiga
2489,03/04/2023 10:19:56,Triage Course,07/03/2023,Erick Waruingi,Martin,Milimu,Nurse (RN.),NaN,martinmilimu@gmail.com,0706133154,Emuhaya Subcounty Hospital,38 Vihiga
2490,03/04/2023 10:21:09,Triage Course,07/03/2023,Erick Waruingi,Sabina,Nyaleso,Nurse (RN.),NaN,sabinanyaleso80@gmail.com,0721279615,Emuhaya Subcounty Hospital,38 Vihiga
2491,03/04/2023 10:22:06,Triage Course,07/03/2023,Erick Waruingi,Joan,Shigali,Nurse (RN.),NaN,jsmwanguhisi@gmail.com,0702111891,Emuhaya Subcounty Hospital,38 Vihiga

In [31]:
course_type = 'ecg'
year_filter = pd.to_datetime(raw_df.Timestamp).dt.year.astype(str) == '2022'
course_filter = raw_df.Course.str.contains(course_type)

num_participants = raw_df.groupby(['County','Date','Course'])\
    .count()['Trainers Name'].reset_index().rename({'Trainers Name':'Num participants'}, axis=1)
num_participants

         County        Date               Course  Num participants
0    01 Mombasa  03/09/2018        Triage Course                22
1    01 Mombasa  04/09/2018           ECG Course                17
2    01 Mombasa  14/07/2021        Triage Course                18
3      02 Kwale  07/07/2021        Triage Course                13
4      02 Kwale  30/08/2018           ECG Course                 1
..          ...         ...                  ...               ...
166  47 Nairobi  24/11/2021        Triage Course                 9
167  47 Nairobi  25/11/2021        Triage Course                 8
168  47 Nairobi  28/11/2019        Triage Course                 6
169  47 Nairobi  28/11/2022  Advanced ECG Course                12
170  47 Nairobi  29/11/2019           ECG Course                 7

[171 rows x 4 columns]

In [32]:
num_participants['Date'] = pd.to_datetime(num_participants.Date, format="%d/%m/%Y")

# MEAL Report 2022

Looking at num triage

In [33]:
year = '2022'
year_filt = num_participants.Date.dt.year.astype(str) == year
course_filt = num_participants.Course.str.lower().str.contains('triage')
course_filtered_df = num_participants[year_filt & course_filt]
print(course_filtered_df['Num participants'].sum())
course_filtered_df.sort_values('Num participants', ascending=False)

253

               County       Date         Course  Num participants
42   13 Tharaka-Nithi 2022-06-09  Triage Course                23
45            14 Embu 2022-10-07  Triage Course                20
154         44 Migori 2022-03-10  Triage Course                19
8           03 Kilifi 2022-03-17  Triage Course                19
108       31 Laikipia 2022-02-11  Triage Course                19
137        39 Bungoma 2022-03-24  Triage Course                18
41   13 Tharaka-Nithi 2022-06-08  Triage Course                17
93     26 Trans Nzoia 2022-05-27  Triage Course                17
121        35 Kericho 2022-01-13  Triage Course                16
13      04 Tana River 2022-06-29  Triage Course                15
25         07 Garissa 2022-06-22  Triage Course                14
126          36 Bomet 2022-02-02  Triage Course                14
128       37 Kakamega 2022-02-17  Triage Course                13
124          36 Bomet 2022-02-01  Triage Course                12
60       18 Nyandarua 2022-02-09  Triage Course                11
127       37 Kakamega 2022-02-11  Triage Course                 3
7           03 Kilifi 2022-03-13  Triage Course                 1
14      04 Tana River 2022-07-29  Triage Course                 1
61       18 Nyandarua 2022-02-11  Triage Course                 1

# Standardizing county names

In [19]:
counties_file = '../kenya-counties/out.csv'
counties_df = pd.read_csv(counties_file, dtype=object)
counties_df.sample(3)

   Code     County Headquarters/capital Postalabbreviations
44  045      Kisii                Kisii                 KSI
17  018  Nyandarua             Ol Karau                 NDR
24  025    Samburu              Maralal                 SBR

In [21]:
num_participants.County = num_participants.County.apply(lambda x: difflib.get_close_matches(x, counties_df.County)[0])

In [31]:
num_participants = num_participants.merge(counties_df[['County','Code']]).drop('County', axis=1)

In [32]:
num_participants.to_csv('./data/output/triage_ecg.csv', index=False)

In [33]:
num_participants

                  Course       Date  Num participants Code
0    Advanced ECG Course 2023-01-24                 1  030
1             ECG Course 2019-05-28                15  030
2          Triage Course 2023-01-24                19  030
3          Triage Course 2019-05-29                16  030
4    Advanced ECG Course 2022-11-28                12  047
..                   ...        ...               ...  ...
166        Triage Course 2021-07-07                13  002
167        Triage Course 2018-08-30                11  002
168        Triage Course 2021-11-23                 2  025
169        Triage Course 2021-11-24                 2  025
170        Triage Course 2021-11-25                 2  025

[171 rows x 4 columns]